<% if params[:action] == 'follow' %>
	<a class="btn btn-primary-outline btn-sm" data-remote="true" rel="nofollow" data-method="post" href="<%= unfollow_path(user_id: @id) %>"><span class="icon icon-add-user"> &nbsp; Unfollow (<%= followers %>)</span></a>
<% elsif params[:action] == 'unfollow' %>
	<a class="btn btn-primary-outline btn-sm" data-remote="true" rel="nofollow" data-method="post" href="<%= follow_path(user_id: @id) %>"> <span class="icon icon-add-user"> &nbsp; follow (<%= followers %>)</span></a>
<% end %>
