<div class='col-md-12'>
  <% @posts.each do |post| %>
    <div class='col-md-3 why-card-posts'>

      <div class='user'>
        <%= image_tag(post.user.user_image(:thumb)) %>
        <span><b><%= post.user.full_name %></b></span>
      </div>

      <div class='content'>
        <%= post.content %>
      </div>

      <div class='image'>
        <%= image_tag(post.image.url(:medium)) if post.image.present? %>
      </div>

      <div class='options'>
      </div>
    </div>
  <% end %>
</div>