<div class="container-fluid container-fill-height">
  <div class="container-content-middle">
    <div id="form_wrapper" class="form_wrapper">
      <%= render "users/registrations/login"%>
      <%= render "users/registrations/forget_password"%>
      <%= render "users/registrations/register" %>
      <%= render "users/registrations/confirmations" %>
    </div>
  </div>
</div>
